*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "shrikhand", 'Times New Roman', Times, serif;
}

h2, h3, h4, h5, h6{
    font-family: "roboto", 'Times New Roman', Times, serif;
    font-size: 20px;
}

p{
    font-family: "roboto", 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #000000;
}

a{
    text-decoration: none;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text: #353535;
$color-logo: #7e7e7e;
$color-search: #eaeaea;
$color-background: #f6f6f6;

@mixin flexbox {
    display: flex;
    flex-direction: column;
}

@mixin button-1 {
    width: 250px;
    height: 50px;
    margin: auto;
    padding-top: 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-family: "roboto";
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
}

@mixin button-2 {
    width: 200px;
    height: 50px;
    margin-bottom: 60px;
    padding-top: 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-family: "roboto";
    font-weight: bold;
    color: #fff;
    text-align: center;
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
}

@mixin panel {
    display: flex;
    border-radius: 20px;
    margin-bottom: 26px;
    background: $color-background;
    cursor: pointer;
}

@mixin shadow {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

@mixin ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/* Welcome page */

/* Header */

header{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    .header__logo{
    width: 45%;
    height: 45%;
    margin: 25px 0 8px 0;
    }
    .header__logo img{
    width: 100%;
    height: 100%;
    }
}

main{
    width: 100%;
    height: auto;
}

/* Search bar */

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-search;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
    .fa-location-dot{
    margin-right: 15px;
    color: $color-text;
    }
    input{
    width: 150px;
    height: 55px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: $color-text;
    }
}

/* Wesite introduction */

.intro{
    width: 100%;
    height: 280px;
    text-align: center;
    background-color: $color-background;
    @media screen and (min-width: 600px){
        height: 230px;
    }
    h2{
        padding: 30px 55px 10px 55px;
        font-weight: 900;
    }
    p{
        padding: 0 15px 30px 15px;
        color: $color-text;
    }
}

.btn{
    @include button-1;
    @include shadow;
    &:hover{
        background: linear-gradient(to right bottom, #fa96df, #b581f5);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}

/* Functioning */

aside{
    border-bottom: solid $color-background 2px;
    @include flexbox;
    width: 100%;
    height: 400px;
    @media screen and (min-width: 1920px){
        height: 300px;
    }
    h2{
        padding: 0;
        height: 30px;
        margin: 40px 20px 0px 20px;
        font-size: x-large;
    }
    .container{
        width: 100%;
        height: 100%;
        @include flexbox;
        justify-content: center;    
        @media screen and (min-width: 1080px){
            align-self: center;
            flex-direction: row;
            justify-content: space-around;
        }
        @media screen and (min-width: 1920px){
            justify-content: space-evenly;
        }
    }
}

.stickers{
    @include shadow;
    @include panel;
    width: 85%;
    height: 20%;
    align-items: center;
    align-self: center;
    @media screen and (min-width: 428px){
        width: 320px;
    }
    @media screen and (min-width: 1920px){
        height: 30%;
    }
    span{
        font-family: "roboto";
        font-weight: bold;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px 2px 0 0;
        background: $color-primary;
        color: #fff;
        position: relative;
        right: 14px;
        }
        p{
            margin-left: 16px;
            font-weight: bold;
        }
        i{
            font-size: 140%;
            color: $color-logo;
        }
    &:hover{
        background-color:#f5eeff;
    }
    &:hover i{
        color: $color-primary;
    }   
}

/* Restaurants */

.resto{
    width: 100%;
    height: 1200px;
    @include flexbox;
    background-color: $color-background;
    padding-bottom: 50px;
    @media screen and (min-width: 992px){
        height: 700px;
    }
    @media screen and (min-width: 1920px){
        height: 430px;
    }
}

#resto__title{
    margin: 50px 0 0 20px;
    align-self: flex-start;
    font-size: x-large;
}

.box{
    height: 100%;
    width: 100%;
    @include flexbox;
    justify-content: space-evenly;
    align-items: center;
    @media screen and (min-width: 992px){
        flex-direction: row;
        flex-wrap: wrap;
    }
}

.card{
    width: 90%;
    height: 240px;
    border-radius: 18px/20px;
    background-color: #fff;
    @include flexbox;
    @include shadow;
    flex-wrap: wrap;
    @media screen and (min-width: 992px){
        width: 40%;
    }
    @media screen and (min-width: 1920px){
        width: 20%;
    }
    a{
        width: 100%;
        height: 100%; 
        text-decoration: none;
        color: #000000;
    }
    span{
        position: absolute;
        border: solid $color-tertiary 1px;
        background: $color-tertiary;
        color:#0b9976;
        font-family: "roboto", 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 17px;
        width: 100px;
        height: 35px;
        border-radius: 3px;
        text-align: center;
        padding-top: 7px;
        transform: translate(-5%, 5%);
        left: 245px; /*65%*/
        margin-top: 15px; /*4%*/
    }
    .card__pic{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 18px 20px 0 0;
    }
    .card__fig{
        @include flexbox;
        width: 100%;
        height: 30%;
    }
    h2{
        padding: 15px 0 0 15px;
        font-size: 115%;
        margin: 0;
    }
    p{
        padding: 0 0 0 15px;
        font-size: 115%;
    }
    .fa-regular{
        position: absolute;
        margin: 190px 0 0 290px;
        font-size: 25px;
    }
    .fa-solid{
        position: absolute;
        margin: 190px 0 0 290px;
        font-size: 25px;
        color: $color-primary;
        opacity: 0;
        &:active{
            animation: heart .7s ease-in-out forwards;
            -webkit-animation: heart .7s ease-in-out forwards;
        }
    }
}

@keyframes heart{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

/* Footer */

footer{
    width: 100%;
    height: 220px;
    @include flexbox;
    background: $color-text;
    color: #fff;
    padding: 20px;
    @media screen and (min-width: 600px){
        align-items: center;
    }
    h1{
        margin: 0 0 15px 0;
        font-size: 120%;
        @media screen and (min-width: 600px){
            font-size: xx-large;
        }
    }
    .links{
        @include flexbox;
        width: 100%;
        @media screen and (min-width: 600px){
            flex-direction: row;
            justify-content: space-between;
            padding-top: 40px;
        }
        @media screen and (min-width: 1920px){
            justify-content: space-evenly;
        }
    }
    a{
        margin: 0 0 10px 0;
        text-decoration: none;
        color: #fff;
        font-size: 100%;
        font-family: "roboto", 'Times New Roman', Times, serif;
    }
    i{
        margin-right: 12px;
    }
    .fa-handshake-angle{
        font-size: 12px;
    }
}

/* Restaurants menu */

/* header */

.header__logo a{
    text-decoration: none;
    color: $color-text;
}

.fa-arrow-left-long{
    position: absolute;
    left: 30px;
    font-size: 150%;
}

/* Picture menu */

.photo img{
    width: 100%;
    height: 40vh;
    object-fit: cover;
}

.list-menu{
    width: 100%;
    height: auto;
    position: relative;
    margin-top: -60px;
}

/* Menu */

.menu{
    width: 100%;
    height: auto;
    padding: 30px 15px 0 15px;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
    background: $color-background;
    bottom: 55px;
    h2{
        border-bottom: solid $color-tertiary 3px;
        width: 45px;
        margin-bottom: 15px;
        font-size: 110%;
        font-weight: normal;
        opacity: 0;
    }
}

.heading{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    @media screen and (min-width: 600px){
        justify-content: center;
    }
    h1{
        width: 80%;   
        @media screen and (min-width: 600px){
            width: 60%;
        }
        @media screen and (min-width: 992px){
            width: 40%;
        }
        @media screen and (min-width: 1080px){
            width: 30%;
        }
        @media screen and (min-width: 1920px){
            width: 20%;
        }
    }
}

.hearts{
    display: flex;
    padding: 4px 10px 0 0;
    cursor: pointer;
    .fa-regular{
        position: absolute;
        font-size: 180%;
    }
    .fa-solid{
        font-size: 180%;
        color: $color-primary;
        opacity: 0;
        &:active{
            animation: heart .7s ease-in-out forwards;
            -webkit-animation: heart .7s ease-in-out forwards;
        }
    }
}

.grouping{
    width: 100%;
    height: 100%;
    @include flexbox;
    @media screen and (min-width: 768px){ 
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: center; 
    }
    @media screen and (min-width: 1080px){ 
        justify-content: space-between;
    }
    .element{
        width: 100%;
        height: 100%;
        @include flexbox;
        @media screen and (min-width: 768px){ 
            width: 50%;
        }
        @media screen and (min-width: 1080px){ 
            width: 30%;
        }
    }
    .group{
        height: 100%;
        width: 100%;
        @include flexbox;
        @media screen and (min-width: 600px){
           flex-direction: row; 
           flex-wrap: wrap;
           justify-content: center;
        }
        @media screen and (min-width: 768px){ 
            flex-direction: column;
        }
        @media screen and (min-width: 1080px){ 
            flex-direction: column;
        }
    }
}

.tile{
    @include panel;
    @include shadow;
    width: 100%;
    height: 70px;
    background: #fff; 
    opacity: 0;
    @media screen and (min-width: 600px){
        width: 48%;
        margin: 0 5px 20px 5px;
    }
    @media screen and (min-width: 768px){
        width: 90%;
        margin: 0 15px 30px 15px;
    }
    @media screen and (min-width: 1080px){
        width: 90%;
    }
    .slide-left{
        width: 100%;
        display: flex;
        justify-content: space-between;
        &:hover{
            animation: text-slide 1s ease-in-out both;
            -webkit-animation: text-slide 1s ease-in-out both;
        }
    }
    .tile__body{
        padding: 12px;
        width: 80%;
        height: 100%;
        h3{
            font-size: 17px;
            width: 100%;
            @include ellipsis;
        }
        p{
            font-size: 14px;
            padding-top: 4px;
            width: 100%;
            @include ellipsis;
        }
    }
    .price{
       display: flex;
       justify-content: center;
       align-items: center;
       height: 100%;
       margin: 10px 20px 0 0;
       width: 30px;
    }
    span{
        font-family: "roboto", 'Times New Roman', Times, serif;
        font-weight: bold;
    }
    .check{
        width: 0;
        height: 100%;
        left: 290px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px 20px 20px 10px;
        background-color: $color-tertiary;
        color: #fff;
        border-radius: 0 20px 20px 0;
        -webkit-border-radius: 0 20px 20px 0;
        -moz-border-radius: 0 20px 20px 0;
        -ms-border-radius: 0 20px 20px 0;
        -o-border-radius: 0 20px 20px 0;
        opacity: 0;
    }
    &:hover .check{
        animation: check-slide 0.5s ease-in-out both;
        -webkit-animation: check-slide 0.5s ease-in-out both;
    }
    .fa-circle-check{
        color: #fff;
        font-size: 23px;
        transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transition: 0.8s transform ease-in-out;
        -webkit-transition: 0.8s transform ease-in-out;
        -moz-transition: 0.8s transform ease-in-out;
        -ms-transition: 0.8s transform ease-in-out;
        -o-transition: 0.8s transform ease-in-out;
}   
    &:hover .fa-circle-check{
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
    }
}

.starters{
    animation: up 1.5s ease forwards;
    -webkit-animation: up 1.5s ease forwards;
}

.dishes{
    animation: up 1.5s 0.5s ease forwards;
    -webkit-animation: up 1.5s 0.5s ease forwards;
}

.desserts{
    animation: up 1.5s 0.5s ease forwards;
    -webkit-animation: up 1.5s 0.5s ease forwards;
}

.slide1{
    animation: up 1.5s  1s ease forwards;
    -webkit-animation: up 1.5s  1s ease forwards;
}

.slide2{
    animation: up 1.5s  1.3s ease forwards;
    -webkit-animation: up 1.5s  1.3s ease forwards;
}

.slide3{
    animation: up 1.5s  1.6s ease forwards;
    -webkit-animation: up 1.5s  1.6s ease forwards;
}

.slide4{
    animation: up 1.5s  1.9s ease forwards;
    -webkit-animation: up 1.5s  1.9s ease forwards;
}

@keyframes text-slide {
    from{
        width: 100%;
    }
    to{
        width: 80%;
    }
}

@keyframes check-slide {
    from{
        opacity: 0;
        width: 0;
    }
    to{
        opacity: 1;
        width: 20%;
    }
}

@keyframes up {
    from{
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
        opacity: 0;
    }
    to{
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        opacity: 1;
    }
}


.wrap-btn{
    display: flex;
    justify-content: center;
    @media screen and (min-width: 600px){
        margin-top: 40px;
    }
}

.btn-2{   
    @include button-2;
    @include shadow;
    &:hover{
        background: linear-gradient(to right bottom, #fa96df, #b581f5);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}

/* Loader */

.loader{
    position: fixed;
    width: 100%;
    height: 2256px;
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
    line-height: 600px;
    text-align: center;
    animation: fade-in 3s ease 1 normal forwards;
    animation: scale-out 1s ease 1s 1 normal forwards;
    -webkit-animation: scale-out 1s ease 1s 1 normal forwards;
    h1{
        font-weight: bold;
        color: #fff;
        text-shadow : 0 5px 5px rgba(0, 0, 0, 0.3);
        padding-left: 130px;
        position: fixed;
    }
    .loader-double{
        width: 50px;
        height: 50px;
        display: inline-block;
        vertical-align: middle;
        position: fixed;
        top: 275px;
        right: 265px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #fff;
        border-bottom-color: #fff;
        animation: spin 1s linear infinite;
        -webkit-animation: spin 1s linear infinite;
    }
    .loader-double:after{
        content:'';
        position: absolute;
        top: 5px;
        left: 5px;
        bottom: 5px;
        right: 5px;
        border-radius: 50px;
        border: 6px solid transparent;
        border-top-color: #fff;
        border-bottom-color: #fff;
        opacity: 0.6;
        animation: spinreverse 2s linear infinite;
        -webkit-animation: spinreverse 2s linear infinite;
    }
}

@keyframes spin{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);
    }
    100%{ transform: rotate(360deg); -webkit-transform: rotate(360deg); -moz-transform: rotate(360deg); -ms-transform: rotate(360deg); -o-transform: rotate(360deg);
    }
}

@keyframes spinreverse{
    0%{ transform: rotate(0deg); -webkit-transform: rotate(0deg); -moz-transform: rotate(0deg); -ms-transform: rotate(0deg); -o-transform: rotate(0deg);
    }
    100%{ transform: rotate(-360deg); -webkit-transform: rotate(-360deg); -moz-transform: rotate(-360deg); -ms-transform: rotate(-360deg); -o-transform: rotate(-360deg);
    }
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes scale-out {
	0% {
		transform: scale(1);
	}

	100% {
		transform: scale(0);
	}
}