*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1{
    font-family: "shrikhand", 'Times New Roman', Times, serif;
}

h2, h3, h4, h5, h6{
    font-family: "roboto", 'Times New Roman', Times, serif;
    font-size: 150%;
}

p{
    font-family: "roboto", 'Times New Roman', Times, serif;
    font-size: 110%;
    color: #000000;
}

a{
    text-decoration: none;
}

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-text: #353535;
$color-logo: #7e7e7e;
$color-search: #eaeaea;
$color-background: #f6f6f6;

@mixin button {
    width: 62%;
    height: 18%;
    margin: auto;
    padding-top: 15px;
    border-radius: 30px;
    border: none;
    font-size: 16px;
    font-family: "roboto";
    font-weight: bold;
    color: #fff;
    background: linear-gradient(to right bottom, $color-secondary, $color-primary);
}

@mixin panel {
    display: flex;
    border-radius: 20px;
    margin-bottom: 26px;
    background: $color-background;
}

@mixin shadow {
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
}

/* Welcome page */

/* Header */

header{
    width: 100%;
    height: 71px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    .header__logo{
    width: 45%;
    height: 45%;
    margin: 25px 0 8px 0;
    }
    .header__logo img{
    width: 100%;
    height: 100%;
    }
}

main{
    width: 100%;
    height: auto;
}

/* Search bar */

form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-search;
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.3);
    .fa-location-dot{
    margin-right: 15px;
    }
    input{
    width: 150px;
    height: 55px;
    background: none;
    border: none;
    font-size: 18px;
    font-weight: bold;
    /*color: ;*/
    }
}

/* Wesite introduction */

.intro{
    width: 100%;
    height: 280px;
    text-align: center;
    background-color: $color-background;
    h2{
        padding: 8% 15% 3% 15%;
        /*font-weight: bold;*/
    }
    p{
        padding: 0 4% 8% 4%;
        color: $color-text;
    }
}

.btn{
    @include button;
    @include shadow;
    &:hover{
        background: linear-gradient(to right bottom, #fa96df, #b581f5);
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
    }
}

/* Functioning */

aside{
    border-bottom: solid $color-background 2px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 450px;
    h2{
        padding: 12% 5% 10% 5%;
    }
}

.stickers{
    @include shadow;
    @include panel;
    width: 85%;
    height: 16%;
    margin-left: 8px;
    align-items: center;
    align-self: center;
    span{
        font-family: "roboto";
        font-weight: bold;
        border-radius: 50px;
        width: 30px;
        height: 30px;
        text-align: center;
        padding: 5px 2px 0 0;
        background: $color-primary;
        color: #fff;
        position: relative;
        right: 14px;
        }
        p{
            margin-left: 5%;
            font-weight: bold;
        }
        i{
            font-size: 140%;
            color: $color-logo;
        }
    &:hover{
        background-color:#f5eeff;
    }
    &:hover i{
        color: $color-primary;
    }   
}

/* Restaurants */

.box{
    width: 100%;
    height: 1180px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: $color-background;
}

#box__title{
    margin: 10% 0 5% 5%;
    align-self: flex-start;
}

.card{
    width: 90%;
    height: 240px;
    margin-bottom: 6%;
    border-radius: 18px/20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    @include shadow;
    a{
        width: 100%;
        height: 100%; 
        text-decoration: none;
        color: #000000;
    }
    span{
        position: absolute;
        border: solid $color-tertiary 1px;
        background: $color-tertiary;
        color:#056950;
        font-family: "roboto", 'Times New Roman', Times, serif;
        font-weight: bolder;
        font-size: 110%;
        width: 100px;
        height: 35px;
        border-radius: 3px;
        text-align: center;
        padding-top: 7px;
        transform: translate(-5%, 5%);
        left: 240px;
        top: 932px;
    }
    .card__pic{
        width: 100%;
        height: 70%;
        object-fit: cover;
        border-radius: 18px 20px 0 0;
    }
    .card__fig{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        height: 30%;
    }
    h2{
        padding: 15px 0 0 15px;
        font-size: 115%;
        margin: 0;
        width: 180px;
    }
    p{
        width: 50%;
        padding: 0 0 0 15px;
    }
    .fa-heart{
        font-size: 27px;
        width: 31px;
        padding: 15px 0 0 50px;
    }
}

footer{
    width: 100%;
    height: 220px;
    display: flex;
    flex-direction: column;
    background: $color-text;
    color: #fff;
    padding: 20px 0 0 20px;
    h1{
        margin: 0 0 15px 0;
        font-size: 120%;

    }
    a{
        margin: 0 0 10px 0;
        text-decoration: none;
        color: #fff;
        font-size: 100%;
        font-family: "roboto", 'Times New Roman', Times, serif;
    }
    i{
        margin-right: 12px;
    }
    .fa-handshake-angle{
        font-size: 12px;
    }
}

/* La Palette du goût */

/* header */
.header__logo a{
    text-decoration: none;
    color: $color-text;
}

.fa-arrow-left-long{
    position: absolute;
    left: 30px;
    font-size: 150%;
}

/* Picture menu */

.pic-menu{
    width: 100%;
    height: auto;
    img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

/* Menu */

.menu{
    width: 100%;
    height: auto;
    padding: 30px 15px 0 15px;
    overflow: hidden;
    border-radius: 40px 40px 0 0;
    border: solid black 1px;
    background: $color-background;
    position: relative;
    bottom: 55px;
    i{
        margin-left: 60px;    
    }
    h1{
        margin-bottom: 30px;
    }
    h2{
        border-bottom: solid $color-tertiary 3px;
        width: 13%;
        margin-bottom: 15px;
        font-size: 110%
    }
}

.tile{
    @include panel;
    @include shadow;
    width: 100%;
    height: 16%;
    flex-direction: column;
    /*padding: 12px 10px 12px 10px;*/
    background: #fff;
    h3{
        font-size: 110%;
    }
    p{
        font-size: 100%;
        padding-top: 4px;
        width: 100%;
    }
    span{
        position: relative;
        left: 290px;
        bottom: 18px;
        height: 20px;
        width: 30px;
        font-family: "roboto", 'Times New Roman', Times, serif;
        font-weight: bold;
    }
}
